.myTurn {
    background-color: aquamarine;
    width: 50vw

}

.notMyTurn {
    background-color: firebrick;
    width: 50vw
}

.selected-list{
    width: 50vw;
    align-content: center;
}

.red {
    color: red;
    font-size: 1.25em;
}

.green {
    color: green;
    font-size: 1.25em;
}